@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stwórz swoją subiektywną bazę na temat alkoholi</h1>
    <img class = "img-responsive" src="https://cdn.tapeciarnia.pl/efekty/tapeta185339__.jpg" alt="Sample Photo" />
</div>


